/* 
 * TODO
 * Consider refactoring arrow animations
 */
/* Animations that are shared among various icons */
@keyframes featherArrowPointUp {
  0% {
    transform: translateY(0%); }
  20% {
    transform: translateY(10%); }
  50% {
    transform: translateY(-20%); }
  70% {
    transform: translateY(8%); }
  90% {
    transform: translateY(-20%); }
  100% {
    transform: translateY(-20%); } }

@keyframes featherArrowPointDown {
  0% {
    transform: translateY(0%); }
  20% {
    transform: translateY(-10%); }
  50% {
    transform: translateY(20%); }
  70% {
    transform: translateY(-8%); }
  90% {
    transform: translateY(20%); }
  100% {
    transform: translateY(20%); } }

@keyframes featherArrowPointLeft {
  0% {
    transform: translateX(0%); }
  20% {
    transform: translateX(10%); }
  50% {
    transform: translateX(-20%); }
  70% {
    transform: translateX(8%); }
  90% {
    transform: translateX(-20%); }
  100% {
    transform: translateX(-20%); } }

@keyframes featherArrowPointRight {
  0% {
    transform: translateX(0%); }
  20% {
    transform: translateX(-10%); }
  50% {
    transform: translateX(20%); }
  70% {
    transform: translateX(-8%); }
  90% {
    transform: translateX(20%); }
  100% {
    transform: translateX(20%); } }

.feather {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s; }
  .feather line, .feather path, .feather circle, .feather polygon, .feather polyline {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1s; }

@keyframes featherActivity {
  from {
    stroke-dasharray: 150;
    stroke-dashoffset: -150; }
  to {
    stroke-dasharray: 150;
    stroke-dashoffset: 0; } }

.feather-activity {
  animation-name: featherActivity; }

@keyframes featherAirplay {
  from {
    opacity: 0;
    transform: translateY(5%); }
  to {
    opacity: 1;
    transform: translateY(-7%); } }

.feather-airplay polygon {
  animation-name: featherAirplay; }

@keyframes featherAlertCircle {
  from {
    opacity: 0;
    transform: scale(1); }
  to {
    opacity: 1;
    transform: scale(1.2); } }

.feather-alert-circle line {
  transform-origin: center center;
  animation-name: featherAlertCircle; }

@keyframes featherAlertOctagon {
  from {
    opacity: 0;
    transform: scale(0.9); }
  to {
    opacity: 1;
    transform: scale(1.2); } }

.feather-alert-octagon line {
  transform-origin: center center;
  animation-name: featherAlertOctagon; }

@keyframes featherAlertTriangle {
  from {
    opacity: 0;
    transform: scale(0.8); }
  to {
    opacity: 1;
    transform: scale(1.1); } }

.feather-alert-triangle line {
  transform-origin: center center;
  animation-name: featherAlertTriangle; }

@keyframes featherAlignCenter {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: -100; }
  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0; } }

.feather-align-center line {
  stroke-dashoffset: -100;
  animation-name: featherAlignCenter; }

@keyframes featherAlignJustify {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: -100; }
  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0; } }

.feather-align-justify line {
  stroke-dashoffset: -100;
  animation-name: featherAlignJustify; }

@keyframes featherAlignLeft {
  from {
    stroke-dasharray: 25;
    stroke-dashoffset: -25; }
  to {
    stroke-dasharray: 25;
    stroke-dashoffset: 0; } }

.feather-align-left line {
  animation-name: featherAlignLeft; }

@keyframes featherAlignRight {
  from {
    stroke-dasharray: 20;
    stroke-dashoffset: 20; }
  to {
    stroke-dasharray: 20;
    stroke-dashoffset: 0; } }

.feather-align-right line {
  stroke-dashoffset: 20;
  animation-name: featherAlignRight; }

.feather-arrow-down-circle {
  animation-name: featherArrowPointDown; }

@keyframes featherArrowDownLeft {
  0% {
    transform: translate(0%); }
  20% {
    transform: translate(10%, -10%); }
  50% {
    transform: translate(-20%, 20%); }
  70% {
    transform: translate(8%, -8%); }
  90% {
    transform: translate(-20%, 20%); }
  100% {
    transform: translate(-20%, 20%); } }

.feather-arrow-down-left {
  animation-name: featherArrowDownLeft; }

@keyframes featherArrowDownRight {
  0% {
    transform: translate(0%); }
  20% {
    transform: translate(-10%, -10%); }
  50% {
    transform: translate(20%, 20%); }
  70% {
    transform: translate(-8%, -8%); }
  90% {
    transform: translate(20%, 20%); }
  100% {
    transform: translate(20%, 20%); } }

.feather-arrow-down-right {
  animation-name: featherArrowDownRight; }

.feather-arrow-down {
  animation-name: featherArrowPointDown; }

.feather-arrow-left-circle {
  animation-name: featherArrowPointLeft; }

.feather-arrow-left {
  animation-name: featherArrowPointLeft; }

.feather-arrow-right-circle {
  animation-name: featherArrowPointRight; }

.feather-arrow-right {
  animation-name: featherArrowPointRight; }

.feather-arrow-up-circle {
  animation-name: featherArrowPointUp; }

@keyframes featherArrowUpLeft {
  0% {
    transform: translate(0%); }
  20% {
    transform: translate(10%, 10%); }
  50% {
    transform: translate(-20%, -20%); }
  70% {
    transform: translate(8%, 8%); }
  90% {
    transform: translate(-20%, -20%); }
  100% {
    transform: translate(-20%, -20%); } }

.feather-arrow-up-left {
  animation-name: featherArrowUpLeft; }

@keyframes featherArrowUpRight {
  0% {
    transform: translate(0%); }
  20% {
    transform: translate(-10%, 10%); }
  50% {
    transform: translate(20%, -20%); }
  70% {
    transform: translate(-8%, 8%); }
  90% {
    transform: translate(20%, -20%); }
  100% {
    transform: translate(20%, -20%); } }

.feather-arrow-up-right {
  animation-name: featherArrowUpRight; }

.feather-arrow-up {
  animation-name: featherArrowPointUp; }

@keyframes featherAtSign {
  0% {
    stroke-dasharray: 100;
    stroke-dashoffset: 100; }
  100% {
    stroke-dasharray: 100;
    stroke-dashoffset: 0; } }

.feather-at-sign {
  animation-name: featherAtSign; }

@keyframes featherBarChart2 {
  0% {
    stroke-dasharray: 25;
    stroke-dashoffset: 25; }
  100% {
    stroke-dasharray: 20;
    stroke-dashoffset: 0; } }

.feather-bar-chart2 {
  animation-name: featherBarChart2; }

@keyframes featherBarChart {
  0% {
    stroke-dasharray: 25;
    stroke-dashoffset: 25; }
  100% {
    stroke-dasharray: 20;
    stroke-dashoffset: 0; } }

.feather-bar-chart {
  animation-name: featherBarChart; }

@keyframes featherBatteryCharging {
  0% {
    stroke-dasharray: 60;
    stroke-dashoffset: 60; }
  100% {
    stroke-dasharray: 50;
    stroke-dashoffset: 0; } }

.feather-battery-charging polyline {
  stroke: #000;
  stroke-width: 2;
  animation-name: featherBatteryCharging; }

@keyframes featherBluetooth {
  from {
    stroke-dasharray: 80;
    stroke-dashoffset: 80; }
  to {
    stroke-dasharray: 80;
    stroke-dashoffset: 0; } }

.feather-bluetooth {
  animation-name: featherBluetooth; }

@keyframes featherCheckCircle {
  0% {
    stroke-dasharray: 90;
    stroke-dashoffset: -90; }
  100% {
    stroke-dasharray: 90;
    stroke-dashoffset: 0; } }

.feather-check-circle {
  animation-name: featherCheckCircle; }

@keyframes featherCheckSquare {
  0% {
    stroke-dasharray: 60;
    stroke-dashoffset: 60; }
  100% {
    stroke-dasharray: 60;
    stroke-dashoffset: 0; } }

.feather-check-square {
  animation-name: featherCheckSquare; }

@keyframes featherCheck {
  0% {
    stroke-dasharray: 40;
    stroke-dashoffset: -40; }
  100% {
    stroke-dasharray: 40;
    stroke-dashoffset: 0; } }

.feather-check {
  animation-name: featherCheck; }

.feather-chevron-down {
  animation-name: featherArrowPointDown; }

.feather-chevron-left {
  animation-name: featherArrowPointLeft; }

.feather-chevron-right {
  animation-name: featherArrowPointRight; }

.feather-chevron-up {
  animation-name: featherArrowPointUp; }

.feather-chevrons-down {
  animation-name: featherArrowPointDown; }

.feather-chevrons-left {
  animation-name: featherArrowPointLeft; }

.feather-chevrons-right {
  animation-name: featherArrowPointRight; }

.feather-chevrons-up {
  animation-name: featherArrowPointUp; }

@keyframes featherTrendingDown {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: -100; }
  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0; } }

.feather-trending-down {
  stroke-dashoffset: -100;
  animation-name: featherTrendingDown; }

@keyframes featherTrendingUp {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: -100; }
  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0; } }

.feather-trending-up {
  stroke-dashoffset: -100;
  animation-name: featherTrendingUp; }
