/*
 * TODO
 * Consider refactoring arrow animations
 */
.feather {
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s; }
  .feather line, .feather path, .feather circle, .feather polygon, .feather polyline {
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 1s; }

/* Animations that are shared among various icons */
@keyframes featherActivity {
  from {
    stroke-dasharray: 150;
    stroke-dashoffset: -150; }
  to {
    stroke-dasharray: 150;
    stroke-dashoffset: 0; } }

.feather-activity {
  animation-name: featherActivity; }

@keyframes featherAirplay {
  from {
    opacity: 0;
    transform: translateY(5%); }
  to {
    opacity: 1;
    transform: translateY(-7%); } }

.feather-airplay polygon {
  animation-name: featherAirplay; }

@keyframes featherAlertCircle {
  0% {
    opacity: 0.1;
    transform: scale(1); }
  20% {
    opacity: 1;
    transform: scale(1.2); }
  40% {
    opacity: 0.8;
    transform: scale(0.8); }
  60% {
    opacity: 1;
    transform: scale(1.1); }
  80% {
    opacity: 0.8;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.feather-alert-circle {
  transform-origin: center center;
  animation-name: featherAlertCircle; }

@keyframes featherAlertOctagon {
  0% {
    opacity: 0.1;
    transform: scale(1); }
  20% {
    opacity: 1;
    transform: scale(1.2); }
  40% {
    opacity: 0.8;
    transform: scale(0.8); }
  60% {
    opacity: 1;
    transform: scale(1.1); }
  80% {
    opacity: 0.8;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.feather-alert-octagon {
  transform-origin: center center;
  animation-name: featherAlertOctagon; }

@keyframes featherAlertTriangle {
  0% {
    opacity: 0.1;
    transform: scale(1); }
  20% {
    opacity: 1;
    transform: scale(1.2); }
  40% {
    opacity: 0.8;
    transform: scale(0.8); }
  60% {
    opacity: 1;
    transform: scale(1.1); }
  80% {
    opacity: 0.8;
    transform: scale(0.9); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.feather-alert-triangle {
  transform-origin: center center;
  animation-name: featherAlertTriangle; }

@keyframes featherAlignCenter {
  from {
    stroke-dasharray: 25;
    stroke-dashoffset: -25; }
  to {
    stroke-dasharray: 25;
    stroke-dashoffset: 0; } }

.feather-align-center {
  animation-name: featherAlignCenter; }

@keyframes featherAlignJustify {
  from {
    stroke-dasharray: 25;
    stroke-dashoffset: -25; }
  to {
    stroke-dasharray: 25;
    stroke-dashoffset: 0; } }

.feather-align-justify {
  animation-name: featherAlignJustify; }

@keyframes featherAlignLeft {
  from {
    stroke-dasharray: 25;
    stroke-dashoffset: -25; }
  to {
    stroke-dasharray: 25;
    stroke-dashoffset: 0; } }

.feather-align-left {
  animation-name: featherAlignLeft; }

@keyframes featherAlignRight {
  from {
    stroke-dasharray: 30;
    stroke-dashoffset: 35; }
  to {
    stroke-dasharray: 30;
    stroke-dashoffset: 0; } }

.feather-align-right {
  animation-name: featherAlignRight; }

@keyframes featherArrowPointDown {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateY(0%); }
  15% {
    transform: translateY(-20%); }
  20% {
    transform: translateY(-20%); }
  35% {
    transform: translateY(20%); }
  50% {
    transform: translateY(-12%); }
  65% {
    transform: translateY(8%); }
  80% {
    transform: translateY(-5%); }
  95% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

.feather-arrow-down-circle {
  animation-name: featherArrowPointDown; }

@keyframes featherArrowDownLeft {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translate(0%, 0%); }
  15% {
    transform: translate(16%, -16%); }
  20% {
    transform: translate(16%, -16%); }
  35% {
    transform: translate(-16%, 16%); }
  50% {
    transform: translate(10%, -10%); }
  65% {
    transform: translate(-7%, 7%); }
  80% {
    transform: translate(4%, -4%); }
  95% {
    transform: translate(0%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

.feather-arrow-down-left {
  animation-name: featherArrowDownLeft; }

@keyframes featherArrowDownRight {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translate(0%, 0%); }
  15% {
    transform: translate(-16%, -16%); }
  20% {
    transform: translate(-16%, -16%); }
  35% {
    transform: translate(16%, 16%); }
  50% {
    transform: translate(-10%, -10%); }
  65% {
    transform: translate(7%, 7%); }
  80% {
    transform: translate(-4%, -4%); }
  95% {
    transform: translate(0%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

.feather-arrow-down-right {
  animation-name: featherArrowDownRight; }

@keyframes featherArrowPointDown {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateY(0%); }
  15% {
    transform: translateY(-20%); }
  20% {
    transform: translateY(-20%); }
  35% {
    transform: translateY(20%); }
  50% {
    transform: translateY(-12%); }
  65% {
    transform: translateY(8%); }
  80% {
    transform: translateY(-5%); }
  95% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

.feather-arrow-down {
  animation-name: featherArrowPointDown; }

@keyframes featherArrowPointLeft {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(20%); }
  20% {
    transform: translateX(20%); }
  35% {
    transform: translateX(-20%); }
  50% {
    transform: translateX(12%); }
  65% {
    transform: translateX(-8%); }
  80% {
    transform: translateX(5%); }
  95% {
    transform: translateX(0%); }
  100% {
    transform: translateX(0%); } }

.feather-arrow-left-circle {
  animation-name: featherArrowPointLeft; }

@keyframes featherArrowPointLeft {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(20%); }
  20% {
    transform: translateX(20%); }
  35% {
    transform: translateX(-20%); }
  50% {
    transform: translateX(12%); }
  65% {
    transform: translateX(-8%); }
  80% {
    transform: translateX(5%); }
  95% {
    transform: translateX(0%); }
  100% {
    transform: translateX(0%); } }

.feather-arrow-left {
  animation-name: featherArrowPointLeft; }

@keyframes featherArrowPointRight {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(-20%); }
  20% {
    transform: translateX(-20%); }
  35% {
    transform: translateX(20%); }
  50% {
    transform: translateX(-12%); }
  65% {
    transform: translateX(8%); }
  80% {
    transform: translateX(-5%); }
  95% {
    transform: translateX(0%); }
  100% {
    transform: translateX(0%); } }

.feather-arrow-right-circle {
  animation-name: featherArrowPointRight; }

@keyframes featherArrowPointRight {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(-20%); }
  20% {
    transform: translateX(-20%); }
  35% {
    transform: translateX(20%); }
  50% {
    transform: translateX(-12%); }
  65% {
    transform: translateX(8%); }
  80% {
    transform: translateX(-5%); }
  95% {
    transform: translateX(0%); }
  100% {
    transform: translateX(0%); } }

.feather-arrow-right {
  animation-name: featherArrowPointRight; }

@keyframes featherArrowPointUp {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateY(0%); }
  15% {
    transform: translateY(20%); }
  20% {
    transform: translateY(20%); }
  35% {
    transform: translateY(-20%); }
  50% {
    transform: translateY(12%); }
  65% {
    transform: translateY(-8%); }
  80% {
    transform: translateY(5%); }
  95% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

.feather-arrow-up-circle {
  animation-name: featherArrowPointUp; }

@keyframes featherArrowUpLeft {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translate(0%, 0%); }
  15% {
    transform: translate(16%, 16%); }
  20% {
    transform: translate(16%, 16%); }
  35% {
    transform: translate(-16%, -16%); }
  50% {
    transform: translate(10%, 10%); }
  65% {
    transform: translate(-7%, -7%); }
  80% {
    transform: translate(4%, 4%); }
  95% {
    transform: translate(0%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

.feather-arrow-up-left {
  animation-name: featherArrowUpLeft; }

@keyframes featherArrowUpRight {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translate(0%, 0%); }
  15% {
    transform: translate(-16%, 16%); }
  20% {
    transform: translate(-16%, 16%); }
  35% {
    transform: translate(16%, -16%); }
  50% {
    transform: translate(-10%, 10%); }
  65% {
    transform: translate(7%, -7%); }
  80% {
    transform: translate(-4%, 4%); }
  95% {
    transform: translate(0%, 0%); }
  100% {
    transform: translate(0%, 0%); } }

.feather-arrow-up-right {
  animation-name: featherArrowUpRight; }

@keyframes featherArrowPointUp {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateY(0%); }
  15% {
    transform: translateY(20%); }
  20% {
    transform: translateY(20%); }
  35% {
    transform: translateY(-20%); }
  50% {
    transform: translateY(12%); }
  65% {
    transform: translateY(-8%); }
  80% {
    transform: translateY(5%); }
  95% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

.feather-arrow-up {
  animation-name: featherArrowPointUp; }

@keyframes featherAtSign {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: 100; }
  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0; } }

.feather-at-sign {
  animation-name: featherAtSign; }

@keyframes featherBarChart2 {
  from {
    stroke-dasharray: 25;
    stroke-dashoffset: 25; }
  to {
    stroke-dasharray: 25;
    stroke-dashoffset: 0; } }

.feather-bar-chart2 {
  animation-name: featherBarChart2; }

@keyframes featherBarChart {
  from {
    stroke-dasharray: 25;
    stroke-dashoffset: 20; }
  to {
    stroke-dasharray: 25;
    stroke-dashoffset: 0; } }

.feather-bar-chart {
  animation-name: featherBarChart; }

@keyframes featherBatteryCharging {
  0% {
    stroke-dasharray: 60;
    stroke-dashoffset: 60; }
  100% {
    stroke-dasharray: 50;
    stroke-dashoffset: 0; } }

.feather-battery-charging polyline {
  stroke: #000;
  stroke-width: 2;
  animation-name: featherBatteryCharging; }

@keyframes featherBluetooth {
  from {
    stroke-dasharray: 80;
    stroke-dashoffset: 80; }
  to {
    stroke-dasharray: 80;
    stroke-dashoffset: 0; } }

.feather-bluetooth {
  animation-name: featherBluetooth; }

@keyframes featherCheckCircle {
  from {
    stroke-dasharray: 90;
    stroke-dashoffset: -90; }
  to {
    stroke-dasharray: 90;
    stroke-dashoffset: 0; } }

.feather-check-circle {
  animation-name: featherCheckCircle; }

@keyframes featherCheckSquare {
  from {
    stroke-dasharray: 60;
    stroke-dashoffset: 60; }
  to {
    stroke-dasharray: 60;
    stroke-dashoffset: 0; } }

.feather-check-square {
  animation-name: featherCheckSquare; }

@keyframes featherCheck {
  from {
    stroke-dasharray: 40;
    stroke-dashoffset: -40; }
  to {
    stroke-dasharray: 40;
    stroke-dashoffset: 0; } }

.feather-check {
  animation-name: featherCheck; }

@keyframes featherArrowPointDown {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateY(0%); }
  15% {
    transform: translateY(-20%); }
  20% {
    transform: translateY(-20%); }
  35% {
    transform: translateY(20%); }
  50% {
    transform: translateY(-12%); }
  65% {
    transform: translateY(8%); }
  80% {
    transform: translateY(-5%); }
  95% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

.feather-chevron-down {
  animation-name: featherArrowPointDown; }

@keyframes featherArrowPointLeft {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(20%); }
  20% {
    transform: translateX(20%); }
  35% {
    transform: translateX(-20%); }
  50% {
    transform: translateX(12%); }
  65% {
    transform: translateX(-8%); }
  80% {
    transform: translateX(5%); }
  95% {
    transform: translateX(0%); }
  100% {
    transform: translateX(0%); } }

.feather-chevron-left {
  animation-name: featherArrowPointLeft; }

@keyframes featherArrowPointRight {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(-20%); }
  20% {
    transform: translateX(-20%); }
  35% {
    transform: translateX(20%); }
  50% {
    transform: translateX(-12%); }
  65% {
    transform: translateX(8%); }
  80% {
    transform: translateX(-5%); }
  95% {
    transform: translateX(0%); }
  100% {
    transform: translateX(0%); } }

.feather-chevron-right {
  animation-name: featherArrowPointRight; }

@keyframes featherArrowPointUp {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateY(0%); }
  15% {
    transform: translateY(20%); }
  20% {
    transform: translateY(20%); }
  35% {
    transform: translateY(-20%); }
  50% {
    transform: translateY(12%); }
  65% {
    transform: translateY(-8%); }
  80% {
    transform: translateY(5%); }
  95% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

.feather-chevron-up {
  animation-name: featherArrowPointUp; }

@keyframes featherArrowPointDown {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateY(0%); }
  15% {
    transform: translateY(-20%); }
  20% {
    transform: translateY(-20%); }
  35% {
    transform: translateY(20%); }
  50% {
    transform: translateY(-12%); }
  65% {
    transform: translateY(8%); }
  80% {
    transform: translateY(-5%); }
  95% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

.feather-chevrons-down {
  animation-name: featherArrowPointDown; }

@keyframes featherArrowPointLeft {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(20%); }
  20% {
    transform: translateX(20%); }
  35% {
    transform: translateX(-20%); }
  50% {
    transform: translateX(12%); }
  65% {
    transform: translateX(-8%); }
  80% {
    transform: translateX(5%); }
  95% {
    transform: translateX(0%); }
  100% {
    transform: translateX(0%); } }

.feather-chevrons-left {
  animation-name: featherArrowPointLeft; }

@keyframes featherArrowPointRight {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateX(0%); }
  15% {
    transform: translateX(-20%); }
  20% {
    transform: translateX(-20%); }
  35% {
    transform: translateX(20%); }
  50% {
    transform: translateX(-12%); }
  65% {
    transform: translateX(8%); }
  80% {
    transform: translateX(-5%); }
  95% {
    transform: translateX(0%); }
  100% {
    transform: translateX(0%); } }

.feather-chevrons-right {
  animation-name: featherArrowPointRight; }

@keyframes featherArrowPointUp {
  0%, 15%, 20%, 35%, 50%, 65%, 80%, 95%, 100% {
    animation-timing-function: cubic-bezier(0.71, 0.2, 0.46, 0.89); }
  0% {
    transform: translateY(0%); }
  15% {
    transform: translateY(20%); }
  20% {
    transform: translateY(20%); }
  35% {
    transform: translateY(-20%); }
  50% {
    transform: translateY(12%); }
  65% {
    transform: translateY(-8%); }
  80% {
    transform: translateY(5%); }
  95% {
    transform: translateY(0%); }
  100% {
    transform: translateY(0%); } }

.feather-chevrons-up {
  animation-name: featherArrowPointUp; }

@keyframes featherCodepen {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: -100; }
  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0; } }

.feather-codepen {
  animation-name: featherCodepen; }

@keyframes featherCommand {
  from {
    stroke-dasharray: 120;
    stroke-dashoffset: -120; }
  to {
    stroke-dasharray: 120;
    stroke-dashoffset: 0; } }

.feather-command {
  animation-name: featherCommand; }

@keyframes featherCornerDownLeft {
  from {
    stroke-dasharray: 30;
    stroke-dashoffset: 30; }
  to {
    stroke-dasharray: 30;
    stroke-dashoffset: 0; } }

.feather-corner-down-left {
  animation-name: featherCornerDownLeft; }

@keyframes featherCornerDownRight {
  from {
    stroke-dasharray: 30;
    stroke-dashoffset: 30; }
  to {
    stroke-dasharray: 30;
    stroke-dashoffset: 0; } }

.feather-corner-down-right {
  animation-name: featherCornerDownRight; }

@keyframes featherTrendingDown {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: -100; }
  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0; } }

.feather-trending-down {
  stroke-dashoffset: -100;
  animation-name: featherTrendingDown; }

@keyframes featherTrendingUp {
  from {
    stroke-dasharray: 100;
    stroke-dashoffset: -100; }
  to {
    stroke-dasharray: 100;
    stroke-dashoffset: 0; } }

.feather-trending-up {
  stroke-dashoffset: -100;
  animation-name: featherTrendingUp; }
