@keyframes featherArrowDown {
	0% { 
		transform: translateY(0%);
	}
	20% { 
		transform: translateY(-10%);	
	}
	50% { 
		transform: translateY(20%);	
	}
	70% { 
		transform: translateY(-8%);	
	}
	90% { 
		transform: translateY(20%);
	}
	100% { 
		transform: translateY(20%);
	}
}
.feather-arrow-down {
	animation-name: featherArrowDown;	
}