@keyframes featherCheckCircle {
	0% { stroke-dasharray: 90; stroke-dashoffset: -90; }
	100% { stroke-dasharray: 90; stroke-dashoffset: 0; }
}
.feather-check-circle {
	animation-name: featherCheckCircle;
}