@keyframes featherTrendingDown {
	from { 
		stroke-dasharray: 100;
		stroke-dashoffset: -100; 
	}
	to { 
		stroke-dasharray: 100;
		stroke-dashoffset: 0; 
	}
}
.feather-trending-down {
	stroke-dashoffset: -100;
	animation-name: featherTrendingDown;	
}