/*
 * TODO
 * Consider refactoring arrow animations
 */
@import 'feather/animations';
.feather {
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-delay: 1s;
	line, path, circle, polygon, polyline {
		animation-duration: 1s;
		animation-iteration-count: 1;
		animation-delay: 1s;
	}
}

@import 'feather/activity';
@import 'feather/airplay';
@import 'feather/alert-circle';
@import 'feather/alert-octagon';
@import 'feather/alert-triangle';
@import 'feather/align-center';
@import 'feather/align-justify';

@import 'feather/align-left';
@import 'feather/align-right';
@import 'feather/arrow-down-circle';
@import 'feather/arrow-down-left';
@import 'feather/arrow-down-right';

@import 'feather/arrow-down';
@import 'feather/arrow-left-circle';
@import 'feather/arrow-left';
@import 'feather/arrow-right-circle';
@import 'feather/arrow-right';
@import 'feather/arrow-up-circle';
@import 'feather/arrow-up-left';

@import 'feather/arrow-up-right';
@import 'feather/arrow-up';
@import 'feather/at-sign';
@import 'feather/bar-chart2';
@import 'feather/bar-chart';
@import 'feather/battery-charging';

@import 'feather/bluetooth';

@import 'feather/check-circle';
@import 'feather/check-square';
@import 'feather/check';
@import 'feather/chevron-down';
@import 'feather/chevron-left';
@import 'feather/chevron-right';
@import 'feather/chevron-up';

@import 'feather/chevrons-down';
@import 'feather/chevrons-left';
@import 'feather/chevrons-right';
@import 'feather/chevrons-up';

@import 'feather/trending-down';
@import 'feather/trending-up';